<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mySwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7D4827B2088E3BA0060591E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D4828F2088E3BA0060591E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D4829A2088E3BA0060591E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
